<%= render :partial => '/shared/title_bar', :locals => {:title => "Edit poster" } %>
<%= render :partial => '/shared/notice' %>

<% if is_admin? || (@poster.owner && (@poster.owner == current_user)) %>


<%= error_messages_for :poster %>
<% form_for(@poster) do |form| %>
  <%= render :partial => "form", :locals => { :form => form } %>
  <p>
    <%= form.submit "OK" %>
  </p>
<% end %>

<%= link_to 'Show', @poster %> |
<%= link_to 'Back', posters_path %>
<%else%>
	insufficient privilege - please go back
<%end%>



