<% title = "Posters submitted for :: #{@active_conference.title}" %>
<%= render :partial => '/shared/title_bar', :locals => {:title => title } %>
<%= render :partial => '/shared/notice' %>

<div class="myWrapper">
	<table cellpadding="2" cellspacing="0" width="100%" style="border: 1px solid gray" class="index">
	
	  <tr>
		<th width="20">#</th>
		<th>Title</th>
		<th>Authors</th>
		<th>Owner</th>
		<th>Submitted at</th>
		<th>Rating</th>
		<% if (current_user && (@poster_owner == current_user)) != (current_user && is_admin?) %>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		<%end%>
	  </tr>

	<% @posters.each_with_index do |poster, index| %>
	  <tr class="<%= cycle('odd', 'even') %>">
		<td align="center">
			<%= index+1 %>
		</td>
		<td>
		    <%= link_to truncate(poster.title, 20), poster %>
		</td>

		<td>
			<%= h truncate(poster.authors,20) %>
		</td>	
		<td>
			<%= link_to (h(poster.user.full_name), profile_path(poster.owner.screen_name)) if poster.owner %>
		</td>	
		<td>
			<%= h poster.updated_at.to_s(:vshort) %>
		</td>	
		<td> 
			<%= ratings_for poster, :static, :dimension => :research, :small_stars => true %> 
			<span id="poster-<%= poster.id %>-research_avg">
				<%= poster.rate_average(true, :research) %>	
			</span>
		</td>

		<% if (current_user && (@poster_owner == current_user)) != (current_user && is_admin?) %>
		<%# if (current_user && (@poster_owner == current_user)) %>
		    <td><%= link_to 'Edit', edit_poster_path(poster) %></td>
		    <td><%= link_to 'Destroy', poster, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
	  </tr>
	<% end %>
	</table>

	<div class="digg_pagination">
      <div clas="page_info">
        <%= page_entries_info @posters %>
      </div>
	  <%= will_paginate @posters, :container => false %>
  </div>   
</div>


<h2><p> To get the most updated poster abstract book:</p> <p> <%= link_to 'Build the Poster abstract book 2009 (pdf)', formatted_posters_path(:pdf) %>. Warning! This may take a while.</p> </h2 >
