<%= render :partial => '/shared/title_bar', :locals => {:title => "New talk" } %>
<%= render :partial => '/shared/notice' %>

<%= error_messages_for :talk %>
<% form_for(@talk) do |form| %>
	<%= render :partial => "form", :locals => { :form => form } %>

  <p>	
    <%= form.submit "OK" %>  

  </p>
<%= link_to  "Information about presentation competition", competitioninfo_path %>
<% end %>


<% if  is_special_role? %>

<%= link_to 'Back', talks_path %>
<%end%>
