<% title = "Talks pending rating by #{current_user.full_name}" %>
<%= render :partial => '/shared/title_bar', :locals => {:title => title } %>
<%= render :partial => '/shared/notice' %>
<% if is_special_role? %>

<div class="myWrapper">
	<%= render :partial => 'unrated_talks' %>
	<%= link_to "Update list", referee_talks_path, :class => 'big_link' %> <br><br>
</div>

<br>

<% title2 = "Talks rated by #{current_user.full_name}" %>
<%= render :partial => '/shared/title_bar', :locals => {:title => title2 } %>
<div class="myWrapper">
<%= render :partial => 'rated_talks' %>
</div>
<%else%>
	insufficient privilege - please go back
<%end%>


