<% title = "New conference" %>
<%= render :partial => '/shared/title_bar', :locals => {:title => title } %>
<%= render :partial => '/shared/notice' %>
<% if is_admin? %>

<div class="myWrapper">
<%= error_messages_for :conference %>
<% use_tinymce -%>
<% form_for(@conference) do |form| %>
	  <%= render :partial => "form", :locals => { :form => form } %>					
	  <%= submit_tag "OK", :class => "submit" %> 
<% end %>

<%= link_to 'Back', conferences_path %>
</div>

<%else%>
	insufficient privilege - please go back
<%end%>

