<%= render :partial => '/shared/title_bar', :locals => {:title => "Edit picture" } %>
<%= render :partial => '/shared/notice' %>
<%= error_messages_for :picture %>
<div class="formWrapper">
  <% form_for @picture, :html => { :multipart => true } do |form| %>
  	<%= render :partial => 'form', :locals => {:form => form} %>
  	<%= submit_tag "OK", :class => "submit" %>
  <% end %>
</div>